<div class="landing">
  <div class="">
    <div class="row">
      <div class="col m8 offset-m2">
        <%= image_tag "quote.svg", width: "80px", class: "quote" %>
        <h1 class="landing-title">
          I'm Lio, </br>
          a designer & developer </br>
          who loves traveling
        </h1>
      </div>
    </div>
  </div>
</div>

<div class="intro">
  <div class="container">
    <div class="row">
      <div class="col s12 m8 offset-m2 center-align content-intro">
         <%= image_tag "lio.jpg", width: "140px", class: "photo-intro" %>
        <p class="text-intro">
          Nice to meet you, %username% ;) </br>
          I'm a rookie in the web development family but I’m already passionate about it and with a great desire to learn more everyday. Excellent communicator, good team player and as a graphic designer, the attention to detail is also something natural for me. I believe I have the drive and the massive energy needed to really make a difference to a project.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="skills">
  <h1 class="center-align">I'm Speciliazed in</h1>
  <div class="row center-align">
    <div class="col s12 m4">
        <h1>Salut</h1>
    </div>
    <div class="col s12 m4">
        <h1>Salut</h1>
    </div>
    <div class="col s12 m4">
        <h1>Salut</h1>
    </div>
    <div class="col s12 m4">
        <h1>Salut</h1>
    </div>
    <div class="col s12 m4">
        <h1>Salut</h1>
    </div>
    <div class="col s12 m4">
        <h1>Salut</h1>
    </div>
  </div>
</div>
